<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>TooGoodToBeASurprise</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/econ-textless.svg"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
    <div class="container header">
          <a class="navbar-brand" href="/feed">
            <img src="/imgs/econ-textless.svg" alt="" width="100" height="100">
          </a>

          <div class="title">
            <h1 class="header-title"><a href="/feed">TooGoodToBeASurprise</a></h1>
            <span class="header-subtitle">Revealing the Secrets of TooGoodToGo's Surprise Bags</span>
          
          <div>
            <a href="/login" class="login btn btn-primary"> Login</a>
            <a href="/signup" class="btn btn-primary"> Signup</a>

            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </div>

              <p></p>
          </div>
        </div>
    </header>
  </body>
</html>