<%- include('partials/header') -%>


<div class="splash-holder">
    <img class="splash" src="/imgs/tgtg-table.webp">
    <div class="centered-index-head">WHAT'S IN THE BAG, DAD?</div>
</div>

<div class="subtext-holder">
<div class="centered-index-text">
<p class="text-center">
TooGoodToGo is a fun app aimed at eliminating food waste by helping restaurants and supermarkets find new buyers for their products that haven't sold in time, rather than throwing them away.
</p>
<p class="text-center">
The food is provided in a "Suprise Bag" — buyers won't know what they get, but they know they will get 3x the retail price. Some outlets' bags are better than others, and a community has developed, curious about which places offer what.
</p>
</div>
</div>

<%- include('partials/footer') -%>