a:link { 
    text-decoration: none;
    color: #1d4d4e;
}

a:visited { 
    text-decoration: none;
    color: #1d4d4e;
 }

a:hover { 
    text-decoration: none;
    color: #1d4d4e;
}

a:active { 
    text-decoration: none;
    color: #1d4d4e;
}

.container {
    border: 0.5px;
    border-style: dotted;
    border-color: red;
}

.header-title {
    font-weight: 900;
    line-height: 1.2;
}

.header-subtitle {
    font-family: Open Sans,Helvetica Neue,Sans Serif;
    font-family: var(--bs-body-font-family);
    font-size: 1.25rem;
    font-size: var(--bs-body-font-size);
    font-weight: 400;
    font-weight: var(--bs-body-font-weight);
    line-height: 1.5;
    line-height: var(--bs-body-line-height);
    color: #114d4d;
}

.header-nav {
    font-family: Open Sans,Helvetica Neue,Sans Serif;
    font-family: var(--bs-body-font-family);
    font-size: 1.25rem;
    font-size: var(--bs-body-font-size);
    font-weight: 400;
    font-weight: var(--bs-body-font-weight);
    line-height: 2rem;
    line-height: var(--bs-body-line-height);
    color: #114d4d;
}

.index {
    background-color: lightblue;
    border-radius: 50%;
}

.header {
    background-color:#fdf8f2;
    color: #1d4d4e;
    display: flex;
    justify-content: space-between;
}

.feed {
    background-color: greenyellow;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
}

.gridbox{
    background-color: gainsboro;
    border: 12px;
    border-style: dotted;
    border-color: red;
    padding: 5px;
    margin: 0.1%;
    border-radius: 0%;
    width: 33.3%;
    height: 350px;
}

.img-fluid {
    width:98%;
    height:280px;
    border-radius: 3%;
    object-fit: cover;
}

